body{
    background-color:rgb(192,192,192);
    margin:0px;
    padding:0px;
}
.text-container{
    position: absolute;
    left: 60%;
    top: 42%;
    transform: translate(-13%, -42%);
}
.text-container p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 22px;
    text-align: center;
}
.text-container p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 2px;
    color: #1a1a1a;
    font-size: 15px;
}
.text-container p:nth-child(3){
    font-family: myriadproregular;
    color: #000000;
    font-size: 15px;
    line-height: 20px;
}
 
.text-container p:nth-child(4){
    font-family: calibri;
    color: #403e3e;
    font-size: 15px;
    margin-top: 10px;
    line-height: 15px;
}
.section{
    width:100%;
    height:95vh;
    position: relative;
}
.text-container button{
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    margin: 0px 10px;
    background-color: rgb(218,218,218);
    float: right;
    margin-top: -450px;
}


